* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sb__container {
    position: absolute;
    width: 275px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 16px;
}

.sb__text {
    position: absolute;
    width: 45px;
    height: 24px;
    left: 24px;
    top: 32px;

    /* Paragraph 3/Medium */

    font-family: 'Roboto', sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Primary/1 */

    color: #8767E1;
}

.sb__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 227px;
    height: 232px;
    left: 24px;
    top: 80px;
}

.sb__garage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 227px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sb__garage-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 179px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
}

.sb__list-text {
    width: 179px;
    height: 24px;

    /* Paragraph 3/Medium */

    font-family: 'Roboto', sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Neutral Dark/4 */

    color: #919FB6;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.sb__keybord {}

.sb__garage-owner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 227px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sb__garage-staff {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 227px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sb__garage-services {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 227px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}